#index {
    header {
        height: 100vh;
        .punchline {
            position: absolute;
            bottom: 20%;
        }
        img {
            position: absolute;
            right: 20%;
        }
    }
}