#index {
    background-color: color(gray, 100);
    min-height: 100vh;

    #logo {
        display: block;
        margin: 5% auto 4rem;
    }

    .card {
        padding-right: 6rem;
        svg {
            stroke: color(warning, 400);
        }

        &.vedtatt svg {
            stroke: color(success, 400);
        }
    }

    svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 2rem;
    }
}