<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-147736726-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-147736726-1");
    </script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Fjord+One|IBM+Plex+Sans:400,700&display=swap"
      rel="stylesheet"
    />
    <meta property="og:title" content="{{ block "title" .}}{{end}}" />
    <meta property="og:image" content="/img/Svarig.png" />
    <meta property="og:image:width" content="600px" />
    <meta property="og:image:height" content="314px" />

    <!-- Css -->
    {{ $options := (dict "targetPath" "style.css" "outputStyle" "compressed" "enableSourceMap" true "includePaths" (slice "node_modules/myscss")) }}
    {{ $style := resources.Get "css/stylesheet.scss" | resources.ToCSS $options }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" />

    <title>Svarig</title>
  </head>

  <body>
    {{ block "main" . }}
    {{ end }}
  </body>
</html>
