{{ define "title" }}{{.Params.title}}{{end}}
{{ define "main" }}
<div id="sak">
    <header>
        <a class="tilbake" href="/">{{partial "icons/back" .}}Tilbake</a>
        <br>
        <h3>{{ .Params.title }}</h3>
        <p>{{ .Date.Day }}. {{ .Date.Month }} {{ .Date.Year }}</p>
        <div {{ if eq .Params.vedtatt false }}>
        {{ partial "icons/close" . }}Nedstemt av studentene
        {{else}}class="vedtatt">
        {{ partial "icons/checkbadge" . }}
        Vedtatt og gjennomført{{end}}
        </p>
    </header>
    <div class="container">
        {{.Content}}
        <form name="contact" method="POST" data-netlify="true">
            <label for="mer">
                Er det noe informasjon du savner i denne saken?
                <textarea id="mer" type="text" name="mer"></textarea>
            </label>
            <label for="tilbakemelding">
                Hvordan ville du delt dine meninger om denne saken?
                <textarea id="tilbakemelding" type="text" name="tilbakemelding"></textarea>
            </label>
            <button class="button" type="submit">Send din tilbakemelding</button>
        </form>
    </div>
</div>
{{ end }}