form {
    border-top: 1px solid color(gray, 300);
    padding-top: 4rem;

    label {
        font-size: 1.6rem;
        display: block;
        margin-bottom: 2rem;

        input:not([type="submit"]),
        textarea {
            display: block;
            font-size: 1.6rem;
            background: color(gray, 100);
            outline: 0;
            border-radius: $border-radius;
            border: 0;
            padding: 1rem 2rem;
        }

        textarea {
            resize: vertical;
            width: 100%;
            max-width: 70ch;
            min-height: 8rem;
        }
    }
}